# 这是测试用钱包的私钥
PRIVATE_KEY=your_test_wallet_private_key_here
# 最后面的apikey，在 https://dashboard.alchemy.com/apps/o1bz0nm1v0inmcrn/setup 的右上角
ALCHEMY_SEPOLIA_URL=https://eth-sepolia.g.alchemy.com/v2/your_api_key_here
